
:root{
    --color__fondo__body: #000;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.form-floating{
    width: calc(100% - 10%);
    margin: 20px auto ;
}
.btn-primary{
    width: calc(100% - 10%);
    margin: 0 auto;
}
.btn-secondary{
    width: calc(100% - 10%);
    margin: 10px auto;
}
